/* Dashboard.css */
.sidebar-nav {
    position: fixed;
    top: 60px; /* Ajusta esto según la altura de tu nav principal */
    left: 10px;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    background-color: #ff0000; /* Rojo */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* z-index: 1000; Asegura que esté sobre otros elementos */
    /* height: calc(100vh - 60px); Ajusta la altura */
    overflow-y: auto; /* Permite desplazamiento si el contenido es demasiado largo */
  }
  
  .sidebar-nav .nav-link {
    color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar-nav .nav-link.active,
  .sidebar-nav .nav-link:hover {
    background-color: #d00000;
    color: #fff;
  }
  
  .main-content {
    margin-left: 220px; /* Ajusta según el ancho del sidebar */
    padding: 20px;
  }
  