.navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
}

.navbar-colored {
    background-color: #e11f1c !important;
    transition: background-color 0.5s ease;
}

.navbar-transparent .nav-link, 
.navbar-colored .nav-link {
    color: white !important;
    transition: color 0.5s ease;
}

.navbar-brand {
    color: white !important;
    transition: color 0.5s ease;
}