body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.containerFooter {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  width: 100%;
  flex-shrink: 0;
}

.logoFooter {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.containerFooter h2,
.containerFooter h4,
.containerFooter p {
  margin: 0;
}

.containerFooter a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.containerFooter a:hover {
  text-decoration: underline;
}

.containerFooter2 {
  background-color: #212529;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 0.875rem;
  width: 100%;
  flex-shrink: 0;
}
